:root {
  --color-text-light: #ead4d4;
  --color-bg-light: #ffffff;
  --color-text-dark: #ead4d4;
  --color-bg-dark: #000000;

   --font-size-small: 0.75rem;
  --font-size-default: 1rem; 
  --font-size-large: 1.25rem;
  --font-size-huge: 1.5rem; 
  --font-size-massive: 2rem; 
}

body {
  font-family: var(--font-primary);
  font-weight: 250;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-text-dark);
  background-color: var(--color-bg-dark);
}

h1, h2 {
  font-family: var(--font-primary);
  color: inherit;
}

.btn {
  border-radius: 50px;
  transition: background-color 0.3s, color 0.3s;
}

.btn--primary {
  background-color: var(--color-bg-dark);
  color: var(--color-text-dark);
}

.light-mode {
  background-color: var(--color-bg-light);
  color: var(--color-text-light);
}

.btn--secondary {
  background-color: var(--color-bg-light);
  color: var(--color-text-light);
  border: 1px solid var(--color-text-dark);
}

.light-theme {
  --color-text-dark: #000000;
  --color-bg-dark: #ffffff;
}


body {
  font-size: var(--font-size-default); 
}


h1 {
  font-size: calc(var(--font-size-default) * 2);
}
